h2 {
  margin-top: 40px;
}

.paper p {
  margin-bottom: 6px;
}

.paper details {
  margin-top: 0px;
}

.paper {
  margin-bottom: 10px;
}

.paper a {
  color: #267CB9;        /* Minimal theme blue */
  font-weight: 600;
  text-decoration: none; /* remove underline */
}

.paper a:hover {
  text-decoration: underline;
}

.paper-title {
  color: #267CB9;
  font-weight: 600;
  font-size: 1.05em;
}

/* .wrapper {
  width: 900px;
}

header {
  width: 300px;
}

section {
  width: 600px;
} */

header {
  width: 320px !important;
}

section {
  width: calc(100% - 340px);
}

header img {
  max-width: none !important;
}

.profile-pic {
  width: 280px !important;     /* increase this */
  height: auto;     /* keeps proportions */
  margin-bottom: 12px;
  display: block;
}